* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  line-height: 24px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tablinks {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 16px;

  transition: .3s;
  &:hover {
    background-color: #ddd;
  }

  &.active {
    background-color: #cccccc;
  }
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}